{% extends 'catalog/base.html' %}
{% load static %}
{% block title %}{{ category.category_name }}{% endblock %}

{% block content %}
<h1>{{ category.category_name }}</h1>
<p>{{ category.description }}</p>

{% if products %}
    <div class="row product-list">
        {% for product in products %}
            {% if product.is_published %}
                <div class="col-3">
                    <div class="card mb-4 box-shadow">
                        <div class="card-header">
                            <h4 class="my-0 font-weight-normal">{{ product.product_name }}</h4>
                        </div>
                        {% if product.image %}
                            <img src="{{ product.image.url }}" alt="{{ product.product_name }}" class="card-img-top">
                        {% else %}
                            <img src="{% static 'images/default-product.png' %}" alt="No image available" class="card-img-top">
                        {% endif %}
                        <div class="card-body text-center">
                            <h5 class="card-title pricing-card-title">{{ product.price }} ₽</h5>
                            <p class="card-text">{{ product.description|truncatechars:100 }}</p>

                            <a href="{% url 'catalog:product_detail' product.id %}" class="btn btn-lg btn-block btn-outline-primary">Перейти</a>

                            {% if user == product.owner %}
                                <a href="{% url 'catalog:product_update' product.id %}" class="btn btn-lg btn-block btn-outline-secondary">Редактировать</a>
                            {% endif %}

                            {% if user == product.owner or perms.catalog.delete_product %}
                                <a href="{% url 'catalog:product_delete' product.id %}" class="btn btn-lg btn-block btn-outline-danger">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% else %}
    <p>В этой категории пока нет товаров.</p>
{% endif %}
{% endblock %}
